$primary: #00A8E8;
$primary-light: #38BDF8;
$primary-dark: #0077B6;

$secondary: #64748B;
$secondary-light: #707479;
$secondary-dark: #475569;

$accent: #00D4FF;

$positive: #22C55E;
$negative: #EF4444;
$info: #38BDF8;
$warning: #F59E0B;

$dark: #080B12;
$light: #dcdddd;

$grey-1: #F1F5F9;
$grey-2: #CBD5E1;

$button-border-radius: 8px;
$generic-border-radius: 8px;