@use './quasar-variable' as *;

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.backdrop-blur {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.link-decoration-none {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}